
<ng-form>
  <div class="container">
    <table class="table">
      <tr>
        <td>Email:</td>
        <td><input type="email" name="title" placeholder="email" class="form-control" [(ngModel)]="formEmail"/>
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="title" placeholder="password" class="form-control" [(ngModel)]="formPassword"
        /></td>
      </tr>
    </table>
    <button class="btn-light" (click)="signIn()">Submit</button>
  </div>
</ng-form>
