<div class="navbar">
  <a routerLink="/home">Home</a>
  <div class="dropdown">
    <button class="dropbtn">My Events
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/events/overview1">All events list</a>
      <a routerLink="/events/overview2">M/D (components store</a>
      <a routerLink="/events/overview3">M/D (from services)</a>
      <a routerLink="/events/overview4">M/D (queryparams)</a>
      <a routerLink="/events/overview6">M/D (persisted)</a>
      <a routerLink="/events/overview11">JPA repo</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">My Registrations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a>Active</a>
      <a>History</a>
    </div>
  </div>
  <a>My Account</a>
  <a class="navbar-right" routerLink="/sign-on" *ngIf="!session.checkLoggedIn()">Log in </a>
  <a class="navbar-right" routerLink="/signup" *ngIf="!session.checkLoggedIn()">Sign Up</a>
  <a class="navbar-right" (click)="session.signOff()" *ngIf="session.checkLoggedIn()">Log out</a>
</div>
