<div class="row header-bar">
  <div class="col-sm-2"><img class="header-image header-left" alt="amsterdam logo"
                             src="../../../../assets/Wapen_van_Amsterdam.svg">
  </div>
  <div class="col-sm-8">
    <div class="row header-title">amsterdam events </div>
    <div class="row header-subtitle header-left">{{'Today is'}}<br>{{dag() + ', ' + datum() }}</div>
    <div class="row header-subtitle">offered to you<br>by hva.nl </div>
  </div>
  <div class="col-sm-2"><img class="header-image header-right" alt="amsterdam paaltje"
                             src="../../../../assets/paaltje.jpg">
  </div>
</div>
