<div class="row">
  <div class="home-left">
    <p class="home-label">Pick a date:</p>
    <input type="date" name="bday">

    <p class="home-label">Pick a category:</p>
    <ul>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Markets</a></li>
      <li><a href="#">Festivals</a></li>
      <li><a href="#">Musea</a></li>
      <li><a href="#">Celebrations</a></li>
    </ul>
  </div>
  <div class="home-center">
    <p class="home-label">Pick a category:</p>
    <div class="home-gallery">
      <a href="https://nl.wikipedia.org/wiki/Amsterdam"><img class="home-image" src="../../../../assets/iam.jpg"></a>
      <a href="https://nl.wikipedia.org/wiki/Amsterdam"><img class="home-image" src="../../../../assets/tram.jpg"></a>
      <a href="https://nl.wikipedia.org/wiki/Amsterdam"><img class="home-image"
                                                             src="../../../../assets/centraal.jpg"></a>
      <a href="https://nl.wikipedia.org/wiki/Amsterdam"><img class="home-image" src="../../../../assets/gracht.jpg"></a>
      <a href="https://nl.wikipedia.org/wiki/Amsterdam"><img class="home-image" src="../../../../assets/tulp.jpg"></a>
      <a href="https://nl.wikipedia.org/wiki/Amsterdam"><img class="home-image" src="../../../../assets/molen.jpg"></a>
    </div>
  </div>
  <div class="home-right">
    <p class="home-label">RAI millionaire fair</p>
    <span>The RAI will have its annual millionaire fair in the Europe Complex hall. Here you find gadgets that only
      millionaire can afford. But you dont't have to be a millionaire to look around and be impressed.</span>
    <br>
    <br>
    <span><b>Location:</b> Europaplein 22</span>
    <br>
    <span><b>Entrance fee:</b> &euro;10</span>
  </div>
</div>
